body{
    font-family: 'Righteous', cursive;
    margin: 0 auto;
}
.header{
    background-image: linear-gradient(gray, black, gray);
    color: blanchedalmond;
    display: flex;
    padding: 2px 0;
}
.orangered-text{
    color: orangered;
}
.cyan-text{
    color: cyan;
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
}
.left{
    cursor: pointer;
}
.left:hover{
    color: orangered;
    transition: all .5s ease-in-out;
}
.right{
    margin-left: 100px;
}
.right a{
    color:cornsilk;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2rem;
}
.right a:hover{
    color: orangered;
    transition: all .5s ease-in-out;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 30px;
}
.half-width h1{
    font-size: 60px;
}
.half-width h2{
    font-size: 30px;
}
.half-width p{
    margin-bottom: 50px;
}
.half-width img{
    width: 60%;
    margin-left: 20px;
}
.center-item{
    text-align: center;
}
.button-link{
    text-decoration: none;
    color:whitesmoke;
    box-shadow: 5px 5px steelblue;
    background-image: linear-gradient(to bottom right, cyan, black);
    border: 7px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 50px;
}
.button-link:hover{
    color: orangered;
    box-shadow: 5px 10px whitesmoke;
}
.banner{
    background-image: url("../images/shapes/7.png");
}
.recipe{
    width: 30%;
}
.recipe img{
    width: 100%;
}
#about{
    margin-top: 150px;
    margin-right: 20px;
}
#justified-text{
    text-align: justify;
}
#formatted-text{
    margin: 0 30%;
}








footer{
    height: 150px;
    background-image: linear-gradient(gray, black, gray);
    text-align: center;
}
.footer-elements{
    padding-top: 15px;
}
.footer-elements h3{
    color: whitesmoke;
}
.footer-elements a{
    color: darkcyan;
    text-decoration: none;
}
.footer-elements a:hover{
    color: cyan;
}


