body{
    font-family: 'Righteous', cursive;
    margin: 0 auto;
}
.header{
    background-image: linear-gradient(gray, black, gray);
    color: blanchedalmond;
    display: flex;
    padding: 2px 0;
}
.orangered-text{
    color: orangered;
}
.cyan-text{
    color: cyan;
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.left:hover{
    color: orangered;
    transition: all .5s ease-in-out;
}
.right{
    margin-left: 100px;
}
.right a{
    color:cornsilk;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2rem;
}
.right a:hover{
    color: orangered;
    transition: all .5s ease-in-out;
}
.flex-container{
    display: flex;
}
.center-item{
    text-align: center;
}









footer{
    height: 150px;
    background-image: linear-gradient(gray, black, gray);
    text-align: center;
}
.footer-elements{
    padding-top: 15px;
}
.footer-elements h3{
    color: whitesmoke;
}
.footer-elements a{
    color: darkcyan;
    text-decoration: none;
}
.footer-elements a:hover{
    color: cyan;
}


